image: owncloudci/nodejs:15
manifests:
  - image: owncloudci/nodejs:15-amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/nodejs:15-arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
  - image: owncloudci/nodejs:15-arm32v7
    platform:
      architecture: arm
      variant: v7
      os: linux
