image: owncloudci/nodejs:16
manifests:
  - image: owncloudci/nodejs:16-amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/nodejs:16-arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
