image: owncloudci/nodejs:18
manifests:
  - image: owncloudci/nodejs:18-amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/nodejs:18-arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
