image: owncloudci/nodejs:latest
manifests:
  - image: owncloudci/nodejs:amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/nodejs:arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
  - image: owncloudci/nodejs:arm32v7
    platform:
      architecture: arm
      variant: v7
      os: linux
